@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 51, 51, 51; /* #333333 */
    --background-start-rgb: 253, 251, 245; /* #FDFBF5 */
    --background-end-rgb: 251, 245, 233; /* #FBF5E9 */
}

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
    letter-spacing: -0.03em;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
